@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

nav {
  font-family: 'Sacramento', cursive;
  text-align: center;
  color: var(--primary-color);
  font-size: 2rem;
  padding: 1rem;
}

.genres {
  margin: auto;
  width: 80vw;
  text-align: center;
}

.genres > p {
  font-family: 'Oswald', sans-serif;
  color: var(--primary-color);
  padding: 0.5rem;
  font-size: 1.2rem;
}
.genre-option {
  background-color: var(--genre-option-color);
  color: var(--primary-color);
  cursor: pointer;
  padding: 1rem 2rem;
  box-shadow: 5px 5px 10px black, -5px -5px 10px var(--genre-option-color-light);
  border-radius: 1rem;
  border: none;
  outline: none;
  font-family: 'Oswald', sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  margin: 1rem;
  text-align: center;
}

.genre-option:active {
  box-shadow: inset 5px 5px 10px black,
    -5px -5px 10px var(--genre-option-color-light);
}

.song-cards {
  margin: auto;
  width: 60vw;
}
.song-card {
  display: flex;
  align-items: flex-start;
  background-color: var(--genre-option-color);
  color: var(--primary-color);
  cursor: pointer;
  padding: 1rem;
  box-shadow: 5px 5px 10px black, -5px -5px 10px var(--genre-option-color-light);
  border-radius: 1rem;
  border: none;
  outline: none;
  font-family: 'Oswald', sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  margin: 1rem;
}

.song-card > img {
  height: 15vh;
  margin-right: 1rem;
  object-fit: contain;
}

.song-description {
  height: 15vh;
  padding: 0 0.2rem;
}

.song-description > a {
  text-decoration: none;
  background-color: var(--primary-color);
  color: white;
  font-size: 1rem;
  padding: 0.1rem 0.8rem;
  border: 1rem;
  border-radius: 1rem;
}

footer {
  font-family: 'Sacramento', cursive;
  text-align: center;
  color: var(--primary-color);
  font-size: 1.5rem;
  padding: 1rem;
}

@media only screen and (max-width: 550px) {
  .genres {
    width: 98vw;
  }
  .genre-option {
    padding: 0.6rem 0.8rem;
    margin: 0.5rem;
    font-size: 0.8rem;
  }

  .song-cards {
    width: 98vw;
  }

  .song-card {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    box-shadow: 2px 2px 5px black, -2px -2px 5px var(--genre-option-color-light);
  }

  .song-card > img {
    height: 10vh;
    margin-right: 1rem;
  }

  .song-description {
    height: 10vh;
  }

  .song-description > h3 {
    font-size: 0.8rem;
  }

  .song-description > h6 {
    font-size: 0.6rem;
  }
  .song-description > a {
    font-size: 0.6rem;
    padding: 0.1rem 0.5rem;
    margin: 0.2rem;
  }
  footer {
    font-size: 1rem;
  }

  .genres > p {
    font-size: 0.9rem;
  }
}
