:root {
  --primary-color: #b44bd1;
  --secondary-color: #211f24;
  --genre-option-color: #29242a;
  --genre-option-color-light: #403942;
}

* {
  margin: 0;
}

body {
  background-color: var(--secondary-color);
}
